<!DOCTYPE html>
<html>

<head>
  <title>Chat</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <style>
    body {
      margin: 20px;
    }

    input {
      display: block;
    }

    ul {
      list-style: none;
    }

    ul#messages {
      list-style: none;
    }

    ul#messages li {
      margin-bottom: 2px;
    }

    ul#messages li img {
      width: 25px;
      height: 25px;
      vertical-align: middle;
      margin-right: 5px;
    }
  </style>
</head>

<body>
  <h1>Chat App with WebSocket</h1>
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>Chat Room</h3>
        <ul id="messages"></ul>
      </div>
    </div>
  </div>

  <form id="chatbox" role="form">
    <div class="form-group">
      <div style="display: flex; align-items: center; justify-content: space-between;">
        <label for="message">{{ .UserData.email }}</label>
        <a href="/logout">Logout</a>
      </div>
      <textarea id="message" class="form-control"></textarea>
    </div>
    <input type="submit" value="Send" class="btn btn-default">
  </form>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script>
    $(function () {
      var socket = null;
      var msgBox = $("#message");
      var messages = $("#messages");
      $("#chatbox").submit(function () {
        if (!msgBox.val()) return false;
        if (!socket) {
          alert("error: socket not connected");
          return false;
        }
        socket.send(JSON.stringify({ "content": msgBox.val() }));
        msgBox.val("");
        return false;
      });

      if (!window["WebSocket"]) {
        alert("error: WebSocket not supported");
      } else {
        let loc = window.location;
        let uri = 'ws:';
        if (loc.protocol === 'https:') {
          uri = 'wss:';
        }
        uri += "//{{.Host}}/room";

        socket = new WebSocket(uri);
        socket.onmessage = function (e) {
          var msg = JSON.parse(e.data);
          console.log(msg);
          var created_at = "";
          if (msg.created_at) {
            var t = new Date(msg.created_at);
            created_at = t.toLocaleString();
          }
          messages.append($("<li>").append(
            $("<img>").attr("title", msg.email).attr("src", msg.avatar_url),
            $("<span>").text(msg.email),
            $("<br>"),
            $("<span>").text(msg.content).css({ "margin-left": "25px" }),
            $("<br>"),
            $("<span>").text("[" + created_at + "]").css({ "margin-left": "25px" })));
        }
      }
    })
  </script>
</body>

</html>
